.headSim{
	color: white;
	font-weight: bold;
}

.button_hex{
    display:block;
    background-color:inherit;
    color:white;
    border: none;
    outline:none;
}

.btn_hex{
	color:white;
	outline: none;
}

.centerlize {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mcu-terminal {
    padding: 10px;
    overflow-y: scroll;
    max-height: 300px;
    width: 70%;
    background-color: gray;
}

.mcu-terminal li {
    text-align: left;
    color: white;
    text-decoration: none;
}

.mcu-leds ul {
    user-select: none;
    clear: both;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 0px;
}

.mcu-leds ul li {
    user-select: none;
    border: 1px solid black;
    font-size: 9px;
    color: black;
    overflow: hidden;
    z-index: 1;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    border-radius: 50%;
    transition: 0.1s;
    vertical-align: middle;
    display: inline-block;
}

